// text color
.text-color-white{
    color: $white;
}

.text-color-white-x{
    color: $darker-white;
}


// background color


.bg-color-white{
    background-color: $white;
}

.bg-color-gray{
    background-color:$gray-x3;
}

.bg-color-red{
    background-color: red;
}

.bg-color-green{
    background-color: green;
}

