#section-1{
    padding: $spacing;
    background-color: $white;
}

#section-2{
    padding: $spacing *2;
    width: 100vw;
    background-color: $beige;
}

#section-3{
    padding: $spacing *2;
    width: 100vw;
    background-color: $white;
}

#section-4{
    padding: $spacing *2;
    width: 100vw;
    background-color: $beige;
}

#section-5{
    padding: $spacing *2;
    width: 100vw;
    background-color: $white;
}